<div class="col-sm-12">
    <h3>{{event.id}}
        <span class="small btn-link bnt-xs">
            <a href="{{event.url}}">(link)</a>
        </span>
    </h3>
</div>
<div class="col-sm-12" ng-repeat="rule in event.rules">
    <span>{{rule.name}}:{{rule.description}}</span>
</div>
<hr>
<form class="form-horizontal">
<div class="col-sm-12 form-group">
    <label for="highlight" 
        class="control-label col-sm-6">Highlight:</label>
    <div class="col-sm-6">
        <input class="form-control" type="text" ng-model="highlight"
        ng-change="search()" ng-change="search()">
    </div>
    <label for="charClass" class="control-label col-sm-6">Filter by class</label>
    <div class="col-sm-6">
        <select class="form-control" 
                ng-change="search()" 
                ng-model="charClass" 
                ng-options="class.value as class.text for class in classes"></select>
    </div>
    <label for="entriesPerPage" class="control-label col-sm-6">Entries per page:</label>
    <div class="col-sm-6">
        <select class="form-control" type="text" ng-model="entriesPerPage" ng-change="search()">
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>150</option>
        </select>
    </div>
</div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player Account</th>
            <th>Character</th>
            <th>Class</th>
            <th>Level</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="6">
            <div>
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range(pagedEntries.length)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                    </li>
                    <li 
                        ng-class="{disabled: currentPage == pagedEntries.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
    </tfoot>
    <tbody ng-repeat="e in pagedEntries[currentPage]">
        <tr class="{{isHighlighted(e.account.name,e.character.name)}}">
            <td>{{e.rank}}</td>
            <td>{{e.account.name}}</td>
            <td>{{e.character.name}}</td>
            <td>{{e.character.class}}</td>
            <td>{{e.character.level}}</td>
            <td>{{e.character.experience}}</td>
        </tr>
    </tbody>
</table>
