<div class="col-sm-12">
    <h2>Welcome!</h2>
    <p><a href="http://github.com/mattijle/exiles">Source</a> code for this 
        project is available at <a href="http://github.com/mattijle/exiles">github</a>.
    <p>Come clone and help me get this thing going.

</div>
