<div class="list-group race-item">
    <a class="list-group-item race-item"><h4>Live Races</h4>
            <div class="list-group race-item" ng-repeat="ev in live">
                <a class="list-group-item race-item list-race" href="/event/{{ev.episode}}">{{ev.id}}</a>
            </div>
            <div class="list-group race-item" ng-if="live.length == 0">
                <a class="list-group-item race-item list-race">
                No Live races. :(
                </a>
            </div>
    </a>
    <a class="list-group-item race-item"><h4>Upcoming Races</h4>
        <div class="list-group race-item" ng-repeat="ev in upcoming">
            <a class="list-group-item race-item list-race">
                <span>{{ev.id}}</span><br />
                <span>Starts in {{ev.startsIn}}</span>
            </a>
        </div>
        <div class="list-group race-item" ng-if="upcoming.length == 0">
            <a class="list-group-item race-item list-race">
            No upcoming races in the next 16 hours. :(
            </a>
        </div>
    </a>
</div>
